@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf");
}

@layer base {
  html {
    font-family: "Poppins";
  }
}

/*npx tailwindcss -i assets/style/style.css -o assets/style/output.css --watch*/
